<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>All Authors</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">

  <style>
        /* Styles for the nested table */
        .table-status-0 {
            background-color: #B6E2A1;
        }
        .table-status-1 {
            background-color: #FFFBC1;
        }
        .table-status-2 {
            background-color: #FEBE8C;
        }
        .table-status-3 {
            background-color: #F7A4A4;
        }
    </style>

</head>

<body>
<div class="container">
  <h1 class="text-center mt-5">All Books</h1>

  <a th:href="@{/book/showFormForAdd}"
     class="btn btn-primary btn-sm mt-3">Add New Book</a>

  <table class="table mt-3 table-bordered">
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Author Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}" th:class="${book.status < 1} ? 'table-status-0' :
                                           (${book.status < 2} ? 'table-status-1' :
                                           (${book.status < 3} ? 'table-status-2' : 'table-status-3'))">
      <td th:text="${book.id}"></td>
      <td th:text="${book.name}"></td>
      <td th:text="${book.authorName}"></td>
      <!-- <td th:text="${book.status}"></td> -->
      <td>
        <a th:href="@{/book/showFormForUpdate(bookId=${book.id})}"
           class="btn btn-info btn-sm ">
          Update Book
        </a>
      </td>
    </tr>
    </tbody>
  </table>
</div>

</body>
</html>
